.projects {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.projectItem {
	width: 70vw;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 5px;
	padding: 20px;
}
.projectList #toLeft {
	text-align: left;
}
.projectList #toRight {
	flex-direction: row-reverse;
}
.projectItem img {
	max-height: 200px;
	border: 3px double var(--tan);
	border-radius: 7px;
}
.projectItem .info {
	background-color: var(--tan);
	height: 200px;
	align-items: justify;
	padding: auto, 10px;
}
